.slide-days {
    width: 1200px;
    height: 350px;
    display: flex;
}

.container-days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.num:hover {
    border: 1px solid #fff;
}

.cur-num {
    background-color: #5ea0da;
}