.slide-days {
    width: 400px;
    display: flex;
}

.container-days {
    width: 400px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
}