.headbar {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333438;
}

.btn:first-child {
    margin-right: 10px;
}

.btn {
    color: #bbbbbb;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.btn:hover {
    color: #fff;
}

.days-week {
    text-align: center;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #333438;
}

.days-week p {
    display: flex;
    justify-content: center;
    align-items: center;
}